/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #0f172a;
}

/* Grid layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

/* Card */
.card {
  background-color: #1e293b;
  padding: 1.5rem;
  border-radius: 1rem; /* rounded-2xl */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* hover:shadow-lg */
}

/* Gambar */
.card-image img {
  width: 100%;
  height: 12rem; /* h-48 */
  object-fit: cover; /* object-cover */
  border-radius: 0.75rem; /* rounded-xl */
  display: block;
  margin-bottom: 1rem;
}

/* Judul */
.card-title {
  font-size: 1.125rem; /* text-lg */
  font-weight: 700; /* font-bold */
  margin-bottom: 0.5rem; /* mb-2 */
  line-height: 1.3;
}

.card-title a {
  color: white;
}

/* Text */
.card-text {
  font-size: 0.875rem; /* text-sm */
  color: #f0f6ff; /* text-slate-500 */
}

@media (min-width: 640px) {
  /* sm */
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  /* md */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  /* lg */
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
